# Folders
.vs
Software.4db416b3

# Compiled Object files
#*.obj
*.bmp

# Compiled Dynamic libraries
#*.dll

# Compiled Static libraries
#*.lib

# Executables
*.exe
*.pdb

!Assets/**
!assimp-vc143-mt.pdb